extends LayoutTrips 
block content
  div(class="BackgroundGroup")
    h1 פרטי הקבוצה
    div(class="presentationGroups")
      div
        h2 מסלולים שנוכל לבצע ביחד
        table(class="myGroupsData")
          thead
            tr
              th שם המסלול
              th איזור בארץ
              th רמת קושי
              th אורך המסלול
              th כולל הליכה במים
              th מסלול מוצל
              th(style="width: 30%;") תיאור קצר
          tbody(id="table_body1")
            each n in trips 
              tr 
                td #{n.tripname} 
                td #{n.area} 
                td #{n.difficulty} 
                td #{n.longoftrip}
                td #{n.water}
                td #{n.shadow}
                td #{n.description}
      div
        h2 חברי הקבוצה
        table(class="myTrips", id="groupMembers")
          thead
            tr
              th שם
              th מייל
          tbody
            each n in groupMembers 
              tr 
                td #{n.firstname + " " + n.lastname} 
                td #{n.userEmail} 
        button(onclick="addFriendForm()") הוסף חבר לקבוצה
        form(action="/addMemberAfterCreation",id="hiddenForm",class="form", style="display: none;", method="post")
          div(class="signIn_form_group")
            label(for="optionsMembers") בחר את חברי הקבוצה
            select(id="optionsMembers",name="optionsMembers" required)
              option(value="") בחר
              each n in users
                option(value=n.email) #{n.firstname+ " " + n.lastname + " - " + n.email}
          input(class="btnForm",type="submit", onclick="addUserToGroup()", value="הוסף")

