
extends LayoutTrips 
block content
    div(class="Background")
        h1 מידע אישי
        form(action="/UpdateUserDetails", onsubmit="return alert('הפרטים עודכנו בהצלחה!')", method="post")
            label(for="firstName", style="font-weight: bold") שם פרטי
            br
            input(type="text", name="firstName", id="firstName", class="profileContent", required="required", value=`${firstname}`,disabled="true", minlength="2")
            br
            br
            label(for="lastName", style="font-weight: bold") שם משפחה
            br
            input(type="text", name="lastName", id="lastName", class="profileContent", required="required", value=`${lastname}`,disabled="true", minlength="2")
            br
            br
            label(for="phoneNumber", style="font-weight: bold") טלפון
            br
            input(type="tel", name="phoneNumber", id="phoneNumber", class="profileContent", required="required", value=`${phonenumber}`,disabled="true", pattern="[0-9]{10}")
            br
            br
            - let date = new Date(dob);
            - let formattedDate = date.toLocaleDateString('en-GB', { month: '2-digit', day: '2-digit', year: 'numeric' });
            label(for="dob", style="font-weight: bold") תאריך לידה 
            br
            input(type="text", name="dob", id="dob", class="profileContent", value=`${formattedDate}`,disabled="true")
            br
            br
            label(for="mail", style="font-weight: bold") מייל 
            br
            input(type="email", name="mail", id="mail", class="profileContent", required="required", value=`${email}`,disabled="true")
            br
            br
            input(type="submit",id="aprove", class="btnForm", value="אישור",disabled="true")
        button(type="submit", onclick="edit()") ערוך
